.air-influency{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, black, #ccc);
}

.air-influency h2{
    margin-left: 40px;
}

#sub-influency{
    color: white;
}

.influency-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.imgs img{
    max-width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.imgs img:hover{
    transform: scale(1.1);
}

.text-influency {
    margin-top: 40px;
    max-width: 570px;
    text-align: center;
    font-size: 17px;
    background-color: #ccc;
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.text-influency:hover{
    transform: scale(1.1);
}